*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/

AllanContentProvider/*.iml
AllanContentProvider/.gradle
AllanContentProvider/local.properties
AllanContentProvider/.idea/*
AllanContentProvider/.DS_Store
AllanContentProvider/build
AllanContentProvider/captures
AllanContentProvider/.externalNativeBuild
AllanContentProvider/app/libs/
